.catalog {
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .catalog {
    display: flex;
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    display: flex;
    margin-bottom: 44px;
  }
}
