/* container-styles */
.container {
  width: @width;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .container {
    width: @width-tablet;
  }

  .container--promo {
    width: 619px;
    padding: 0 42px;
  }

  /*
  .container--copyright {
    padding: 53px 0 52px;
  }

   */
}

@media (min-width: @desktop-width) {
  .container {
    width: @width-desktop;
  }

  .container--promo {
    width: 1155px;
    padding: 0 10px;
  }

  /*
  .container--copyright {
    padding: 60px 0;
  }

   */

  .container--example {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
}
