.button {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  background-color: @brand-color;
}
