.button {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  background-color: @brand-color;
  border: none;
  box-sizing: border-box;
}
