/* container-styles */
.container {
  width: @width;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .container {
    width: @width-tablet;
  }

  .container--promo {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: @width-desktop;
  }

  .container--promo {
    padding: 0 10px;
  }
}
