.courses {
  border: 2px solid blue;
  padding: 15px;
}

.course-list__image {
  height: 50px;
  width: 50px;
  background-color: @brand-color;
}

.course-list__item {
  background-color: @grey;
  margin-bottom: 20px;
}

.course-list__description {
  font-family: "Arial", sans-serif;
  color: @light-grey;
}
