.courses {
  background-color: @grey;
  border: 2px solid blue;
  padding: 15px;
}

.course-list__image {
  height: 50px;
  width: 50px;
  background-color: @brand-color;
}

.course-list__item {
  margin-bottom: 20px;
}

