/* extra styles */
.extra__title {
  font-size: 24px;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .extra {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
  }
}
