.features {
  border: 2px solid blue;
  padding: 20px 0;
}

.features-list__logo {
  height: 60px;
  width: 60px;
}

.features-list__logo--food {
  background: @brand-color url("/img/advantage-leaf@1x.png") no-repeat center;
}

.features-list__logo--way {
  background: @brand-color url("/img/advantage-powder@1x.png") no-repeat center;
}

.features-list__logo--process {
  background: @brand-color url("/img/advantage-dining@1x.png") no-repeat center;
}

.features-list__logo--duration {
  background: @brand-color url("/img/advantage-clock@1x.png") no-repeat center;
}

.features-list__description {
  font-family: "Arial", sans-serif;
  color: @light-grey;
}
