/* form styles */
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form__item {
  border: none;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  box-sizing: border-box;
}

.form__group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form__group--phone {
  margin-bottom: 0;
}

.form__label {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  white-space: nowrap;
}

.form__input {
  height: 45px;
  flex-grow: 1;
  padding: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  border: 1px solid @grey;
}

.form__item--radio {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  padding: 27px 0;
  margin-bottom: 27px;
}

.form__item--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  background-color: @grey;
  height: 1px;
}

.form__item--radio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: calc(100% + 40px);
  background-color: @grey;
  height: 1px;
}

.form__label--radio,
.form__label--checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 45px;
}

.form__label--radio:not(:last-child) {
  margin-bottom: 25px;
}

.form__input[type="radio"] + span::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: -5px;
  left: 0;
  border: 9px solid @white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px @grey;
  background-color: @white;
  box-sizing: content-box;
}

.form__input[type="radio"]:checked + span::before {
  background-color: @brand-color;
}

.form__item-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
}

.form__group--mail .form__label,
.form__group--phone .form__label {
  margin-right: 10px;
}

.form__group--mail .form__input {
  width: 76%;
}

.form__group--phone .form__input {
  width: 72%;
}

.form__item--owner {
  padding-bottom: 27px;
}

.form__area {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @light-grey;
  border: 1px solid @grey;
  box-sizing: border-box;
}

.form__item--checkbox {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 0;
}

.form__label--checkbox:not(:last-of-type) {
  margin-bottom: 25px;
}

.form__input[type="checkbox"] + span::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -5px;
  left: 0;
  border: 1px solid @grey;
  background-color: @white;
}

.form__input[type="checkbox"]:checked + span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 20px;
  margin-top: 3px;
  top: -100%;
  left: 9px;
  border-right: 1px solid @brand-color;
  border-bottom: 1px solid @brand-color;
  transform: translateY(50%) rotate(45deg);
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  border: none;
}

.form__note {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.form__order {
  margin-top: 43px;
}

@media (min-width: @tablet-width) {
  .form {
    width: 630px;
  }

  .form__item {
    padding-bottom: 0;
  }

  .form__item--checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .form__order {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 72px;
  }

  .form__label,
  .form__input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__label {
    margin-right: 20px;
  }

  .form__input {
    height: 50px;
    padding: 15px 18px;
  }

  .form__group {
    margin-bottom: 20px;
  }

  .form__group--age {
    margin-bottom: 75px;
  }

  .form__item-title {
    margin-bottom: 78px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__note {
    font-size: 16px;
  }

  .form__item-cat {
    margin-bottom: 75px;
  }

  .form__item--radio {
    margin-bottom: 0;
    padding: 33px 25px;
    border: 1px solid @grey;
  }

  .form__item--radio::after,
  .form__item--radio::before {
    height: 0;
  }

  .form__label--radio {
    padding-left: 63px;
  }

  .form__input[type="radio"] + span::before {
    top: -9px;
    left: 5px;
    width: 18px;
    height: 18px;
    border: 11px solid @white;
  }

  .form__label--radio:not(:last-child) {
    margin-bottom: 33px;
  }

  .form__group--mail .form__label {
    margin-right: 22px;
  }

  .form__group--phone .form__label {
    margin-right: 17px;
  }

  .form__group--phone {
    margin-bottom: 70px;
  }

  .form__area {
    height: 173px;
    padding: 8px 19px;
    margin-bottom: 63px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__input[type="checkbox"] + span::before {
    top: -9px;
    left: 0;
    width: 40px;
    height: 40px;
  }

  .form__input[type="checkbox"]:checked + span::after {
    top: -90%;
    left: 15px;
  }

  .form__label--checkbox:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .form__label--checkbox {
    padding-left: 60px;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .form__label--checkbox:nth-child(odd) {
    margin-right: 60px;
  }

  .form__label--checkbox,
  .form__button,
  .form__note {
    width: 284px;
  }

  .form__item-title--extra {
    margin-bottom: 65px;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;
    padding: 15px;
  }

  .form__note {
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 100%;
  }

  .form__item-cat {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  .form__item-cat .form__item {
    width: 570px;
  }

  .form__group--name,
  .form__group--weight {
    margin-bottom: 20px;
  }

  .form__group--age {
    margin-bottom: 0;
  }

  .form__input[type="radio"] + span::before {
    top: -11px;
    left: 2px;
  }

  .form__item--owner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__group--mail,
  .form__group--phone {
    width: 570px;
  }

  .form__button {
    width: 570px;
  }

  .form__item--checkbox {
    justify-content: flex-start;
  }

  .form__label--checkbox {
    width: 245px;
    padding-left: 57px;
  }

  .form__label--checkbox:not(:last-of-type) {
    margin-right: 80px;
  }

  .form__item-title--extra {
    margin-bottom: 68px;
  }

  .form__order {
    margin-top: 20px;
    margin-bottom: 84px;
  }

  .form__note {
    margin-top: 15px;
    margin-left: 30px;
  }
}
