.page-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid @grey;
}

.page-header__logo {
  display: block;
  height: 55px;
  padding-top: 10px;
  margin-bottom: 12px;
}

.page-header__logo-image {
  width: 195px;
  height: 45px;
}

@media (min-width: @tablet-width) {
  .page-header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 0;
  }

  .page-header {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header .container {
    padding-top: 53px;
    padding-bottom: 48px;
  }
}
