.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 45px;
}


@media (min-width: @tablet-width) {
  .page-header__container {
    display: flex;
    flex-direction: column;
  }
}
