/* site-list styles */
.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-list__item {
  border-top: 1px solid @grey;
  border-bottom: 1px solid @grey;
  box-sizing: border-box;
}

.site-list__link {
  display: block;
  padding: 22px 0;
  font-family: "Oswald Medium", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @black;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 445px;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
  }
}
