/* slider styles */
.slider {
  margin-top: 40px;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider__item {
  box-sizing: border-box;
}

.slider__item img {
  width: 100%;
}
