/* social styles */
.social__list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  padding: 25px 0;
}

.social__link {
  display: block;
  font-size: 0;

  &:active .social__icon {
    opacity: 0.3;
    fill: @brand-color;
  }
}

.social__icon {
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .social__list {
    border: none;
  }

  .social__item {
    padding: 0;
  }

  .social__link {
    width: 30px;
    height: 16px;

    &:hover .social__icon {
      opacity: 1;
      fill: @brand-color;
    }

    &:active .social__icon {
      opacity: 0.3;
      fill: @brand-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    border: none;
  }
}
