@import "node_modules/normalize.less/normalize.less";
@import "variables.less";
@import "mixins.less";
@import "blocks/visually-hidden.less";
@import "blocks/container.less";
@import "blocks/features-list.less";
@import "blocks/example-list.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/page-main.less";
@import "blocks/promo.less";
@import "blocks/page-title.less";
@import "blocks/button.less";
@import "blocks/courses.less";
@import "blocks/course-list.less";
@import "blocks/features.less";
@import "blocks/example.less";
@import "blocks/slider.less";
@import "blocks/page-footer.less";
@import "blocks/contacts.less";
@import "blocks/map.less";
@import "blocks/social.less";
@import "blocks/copyright.less";
@import "blocks/catalog.less";
@import "blocks/product-list.less";
@import "blocks/expand.less";
@import "blocks/extra.less";
@import "blocks/extra-list.less";
@import "blocks/promotion-banner.less";
@import "blocks/course-select.less";
@import "blocks/form.less";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @font-size;
  font-weight: normal;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: @black;
}
